@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Lobster&family=Roboto:wght@500&family=Vampiro+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

/*================================= GENERAL PAGE =================================*/
:root{
  
   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    outline: 0;
    scroll-behavior: smooth;
}

body{
    background-color: rgba(0, 0, 0, 0.89);
    height: 100vh;
    font-family: 'Goldman', cursive;
    width: 100%;
}

@font-face{
    font-family: dap;
    src: url(../FONT/ArtographieBlack-PERSONAL_USE.ttf);
}

::-webkit-scrollbar{
  display:none;
}

::-webkit-scrollbar-button{
    display: none;
}

::-webkit-scrollbar-thumb{
    background:rgb(255, 255, 255);
    border-radius:20px;
}
::-webkit-scrollbar-thumb:hover{
    background:rgb(92, 91, 91);
}


/*================================= CLASS GENERAL =================================*/

.title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.title.port-title{
    position: fixed;
}

.title.contact-title{
    position: absolute;
    top: 0;
    margin: 137px 0;
}

.title h2{
    padding: 10px;
    background: #111;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
}

.title h3{
    margin: 10px 0;
    font-size: 17px;
    color: #fff;
    text-align: center;

}

.title h4{
    margin: 10px 0;
    font-size: 18px;
    color: #111;
}

.title h4 span{
    color: rgb(18, 145, 0);
}

.title p{
    color: rgb(201, 201, 201);
    text-align: center;
}

.title h3 span{
    color: rgb(18, 145, 0);
}

main{
    height:auto;
    width:100%;
    
    padding:0 20px;
}

/*================================= HEADER =================================*/

.logo{
    cursor: pointer;
    z-index: 9999;
}

.logo img{
    width:50px;
    height: 45px;
}

header{
    position: fixed;
    display: flex;
    padding: 10px 20px;
    z-index: 9;
    width: 100%;
    align-items: center;
    justify-content: center;
}

header .container-header{
    width: 1440px;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav-menu{ 
 margin-right: 20px;
}

header .nav-menu ul {
    list-style: none;
    display: flex;
}

header .nav-menu ul li{
   margin: 0 10px;
   position: relative;
}

.nav-link{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    letter-spacing:2px;
    transition: .1s linear;
}

.nav-link::before{
    content: "";
    display: block;
    position: absolute;
    transition: .7s ease;
    height: 0px;
    width: 2px;
    background: linear-gradient(359.94deg, #1ce15e 0.06%, rgba(225, 28, 33, 0) 101.91%);
    top: -37px;
    right: 29px;
}

.nav-link::before:last-child{
    right: 40px;
}

.nav-link:hover{
    font-size: 18px;
}

.nav-link:hover::before{
    height:40px;
}

/*================================= HERO =================================*/


.background-main{
    position: absolute;
    z-index: -1;
    width:100%;
    height:100%;
    display: flex;
    opacity: 0.4;
    left:0;
}

.background-main img{
    width: 100%;
    height: 100%;
 
}

#hero{
    position: relative;
    align-items: center;
    justify-content: center;
    display:flex;
    height: 100vh;
    max-height: 1080px;
    overflow: hidden;
}

.container-hero{
    width: 1440px;
    height:100%;
    position: relative;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    margin:0 auto;
    padding-left: 20px;
}

.img-main{
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 51px;
}

.img-main img{
    width: 100%;
    max-width: 1080px;
    cursor: pointer;
    transition: filter .4s linear;
    height:100%;
    image-rendering: pixelated;
}

.img-main img::after{
    content: "";
    width:100%;
    height:100%;
  transform: translateX(50%);
    background:#111;
}

.img-main img:hover::after{
    background:rgba(255, 255, 255, 0);
    width:0;
}

.title-hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-hero h1{
    font-weight: bold;
    color: #fff;
    font-family: 'Goldman', cursive;
    font-size: 28px;
    
}

#type-span{
    color: rgb(18, 145, 0);
    font-size:18px;
}

#type-span::after{
   content:'|';
   margin-left: 5px;
   animation: pisca .7s infinite;
}

@keyframes pisca {
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

p{
    font-size: 18px;
    color: rgb(151, 147, 147);
    font-family: 'Goldman', cursive;
    
}

.redes-socias{
    margin-top:10px;
}

.redes-socias a  > svg{
    color: #fff;
}

.redes-socias a  > svg:hover{
    color: rgb(158, 158, 158);
}





/*================================= SOBRE =================================*/


#sobre{
    position: relative;
    align-items: center;
    justify-content: center;
    display:flex;
    margin:80px 0;
    
}

.sobre-cont{
    width: 1440px;
    height:100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin:0 auto;
    padding-left: 20px;
}

.sobre-cont .cont-title{
    display: flex;
    margin:10px 0;
}

.sobre-cont .cont-title .description-sobre{
    float: left;
    width: 50%;
}

.sobre-cont .cont-title .description-sobre p{
    color: #fff;
    line-height: 25px;
    letter-spacing:10px;
}

.sobre-cont .cont-title .description-sobre ul{
    margin:10px 0;
}

.sobre-cont .cont-title .description-sobre ul li{
    color: rgb(18, 145, 0);
    letter-spacing:5px;
    margin-bottom: 10px;
}

.sobre-cont .cont-title .sobre-img{
    width: 50%;
    height:500px;
    float: right;
}

.sobre-cont .cont-title .sobre-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 1080px;
}



/*================================= SERVIÇOS =================================*/


#services{
    position: relative;
    align-items: center;
    justify-content: center;
    display:flex;
    margin:80px 0;
}

.container-services{
    width: 1440px;
    height:100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin:0 auto;
}

.container-services .services{
    display: flex;
    margin:30px 0;
    width: 100%;
    justify-content: center;
}

.container-services .services .card-services{
    height:350px;
    width: 100%;
    background: #000000e0;
    margin:0 20px;
    border-radius: 10px;
    cursor: pointer;
}

.container-services .services .card-services::after{
    content: "";
    width: 100%;
    border-radius:10px;
    height:0%;
    transition: .1s linear;
    background: rgb(18, 145, 0);
    bottom:0;
    position:absolute;
}

.container-services .services .card-services:hover::after{ 
    height: 100%;
}

.container-services .services .card-services .icon-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    padding: 10px;
    margin:25px 0;
}


.container-services .services .card-services .icon-box p{
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
    text-align:center;
    width:100%;
    position: relative;
    letter-spacing:2px;
}

.container-services .services .card-services .icon-box .icon{
    width:60px;
} 

.container-services .services .card-services .icon-box h4{
    margin: 10px 0;
    letter-spacing:2px;
    color: rgb(255, 255, 255);
    font-weight: normal;
}

.background-port{
    position: absolute;
    z-index: -1;
    width:100%;
    height:100%;
}

.background-port img{
    width:100%;
    height:100%;
    border-radius:50px;
}

/*================================= PORTFOLIO =================================*/

#portfolio{
    position: relative;
    align-items: center;
    justify-content: center;
    display:flex;
    margin:80px 0;
}

.container-portfolio{
    width: 1440px;
    height:100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin:0 auto;
    padding-left: 20px;
    overflow: hidden;
    
}

.container-portfolio .portfolio-box{
    display: flex;
    margin-top: 100px;
    border-top: 2px solid #fff;
    width: 100%;
    border-radius: 10px;
}

.container-portfolio .portfolio-box .card{
    width: 500px;
    height:200px;
    margin:10px 10px;
    cursor: pointer;
    opacity: 0.8;
    z-index: 2;
}

.container-portfolio .portfolio-box .card.card2{
    height:300px;
}

.container-portfolio .portfolio-box .card img{
    width: 100%;
    height: 100%;
    transition: transform .6s;
    border-radius: 10px;
}

.container-portfolio .portfolio-box .card img:hover{
    opacity: 1;
    transform:scale(1.1);
    z-index: 2;
}

/*================================= CONTACT =================================*/

#Contato{
    position: relative;
    align-items: center;
    justify-content: center;
    display:flex;
    margin:80px 0;
}

.container-contact{
    width: 1500px;
    height:100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin:0 auto;
    overflow: hidden;
}

.background-contact{
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.scheduling-contact{
   
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 150px;
}

.social-contact{
    position: relative;
    margin: 3px 0;
}

.social-contact span{
    font-size: 30px;
    margin: 10px;
}

.social-contact span a{
    text-decoration: none;
    color: #111;
    letter-spacing: 2px;
    margin:10px 0;
}

.social-contact span .instagram:hover{
    color:rgb(163, 61, 109);
}

.social-contact span .whatsapp:hover{
    color:rgb(65, 187, 99);
}

.social-contact span .telegram:hover{
    color:rgb(51, 108, 182);
}

.social-contact span a:hover{
    font-size:29px;
}

.social-contact svg{
   font-size: 30px;
   color:#111;
   cursor: pointer;
}

.social-contact svg:hover{
    color:rgb(114, 114, 114);
}

.wave-contact{
    height:600px;
    width: 100%;
    background: #fff;
}

.ball-contact{
    height: 325px;
    width: 124%;
    background: rgba(0, 0, 0, 0.89);
    position: absolute;
    transform: rotate(-11deg);
    top: -28%;
}

/*================================= FOOTER =================================*/
footer{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: -80px 0;
    height: 52px;
}

footer span{
    color: #fff;

}

footer span a{
    color:#1ce15e;
    margin-left: 10px;
    letter-spacing:2px;
}

footer span a:hover{
    color:#6fff9f;
}

/*============================================== BOTÃO DE VOLTAR AO TOPO ==============================================*/
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 999999;
    background-color: #0017ff00;
    color: #eeeeee;
    width: 49px;
    height: 68px;
    line-height: 48px;
    right: 21px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.scroll-top-wrapper:hover {
    background-color: #0017ff00;
}

.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}

.scroll-top-wrapper i.fa {
    line-height: inherit;
}

@media screen and (max-width:600px){
    .scroll-top-wrapper > img{
        width:50px;
    }
    .scroll-top-wrapper {
        right: 4px;
    }
}
  

#menu-hamburger{
    display:none;
    font-size: 30px;
    z-index: 99999;
    color: #fff;
    cursor: pointer;
    transition: .5s linear;
}

#menu-hamburger:hover{
    color: rgb(119, 119, 119);
}

.menu-mobile{
    display: none;
}



#menu-close-hamburger{
    display: none;
    font-size: 30px;
    z-index: 99999;
    color: #fff;
    cursor: pointer;
    transition: .5s linear;
}

#menu-close-hamburger:hover{
    color: rgb(119, 119, 119);
}
/*================================= RESPONSIVIDADE =================================*/


@media screen and (max-width:1080px){

    
    #menu-hamburger{
        display:block;
    }

    header .nav-menu > ul{
       display:none;
    }

    .menu-mobile{
        height: 100%;
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        right: 0;
        visibility: hidden;
    }

    .menu-mobile ul{
        flex-direction: column;
        height: 100%;
        width: 50%;
        position: absolute;
        right: -100%;
        bottom: 0;
        align-items: center;
        justify-content: center;
        background:#111;
        transition: .5s linear;
    }

    .menu-mobile ul li{
        margin:20px 0!important;
    }

    .menu-mobile ul li a{
        text-decoration: none;
        color: #fff;
    }
    .menu-mobile ul li a:hover{
        color: rgb(115, 255, 120);
    }

    .container-hero{
        flex-direction: column-reverse;
    }

    .img-main{
        margin-top: 0;
        width: 86%;
        height: 88%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img-main img{
        height:100%;
    }

    .title-hero{
        align-items: center;
    }
    
    footer{
        width: 100%;
    }

    footer span{
        font-size:10px;
    }
    
}

@media screen and (max-width:800px){
    .container-portfolio{
        overflow: inherit;
    }

    .container-portfolio .portfolio-box{
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    .container-portfolio .portfolio-box .card{
        width: 100%;
    }

    .social-contact span{
        font-size:20px;
    }

    .social-contact span a:hover{
        font-size:19px;
    }

    .social-contact svg{
        font-size:20px;
    }

    .sobre-cont .cont-title .sobre-img{
        display: none;
    }

    .sobre-cont .cont-title .description-sobre{
        width: 100%;
    }

    .sobre-cont .cont-title .description-sobre p{
        letter-spacing: 2px;
    }

    
}

@media screen and (max-width:920px){

    .container-services .services{
        flex-direction: column;
    }
    .container-services .services .card-services{
        height:250px;
        margin:10px 0;
    }
    .container-services .services .card-services .icon-box p {
        font-size: 15px;  
    }

    .container-services .services .card-services .icon-box h4{
        font-weight:normal;
    }
}


#load-matrix{
    position: fixed;
    width: 100%;
    z-index: 9999;
    height: 100vh;
    background-size: cover;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 5s linear;
}

#load-matrix img{
    width: 500px;
    height:500px;
}